{% extends 'admin/base.html.twig' %}

{% block title %}Listado de Clientes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="col-12">Lista de Clientes</h1>
            <a class="btn btn-outline-primary mb-3 col-3" href="{{ path('app_user_new') }}">Añadir Cliente Manual</a>
            <table class="table col-12">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Tipo de Cuenta</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.roles|length == 1 %}
                                Cliente
                            {% else %}
                                Administrador
                            {% endif %}
                            
                        </td>
                        <td>{{ user.nombre }}</td>
                        <td>{{ user.apellidos }}</td>
                        <td>{{ user.direccion }}</td>
                        <td>
                            <a class="btn btn-outline-info" style="width:60px;" href="{{ path('app_user_show', {'id': user.id}) }}">Ver</a>
                            <a class="btn btn-outline-success" style="width:60px;" href="{{ path('app_user_edit', {'id': user.id}) }}">Editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">No se han encontrado Clientes</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
