<form method="POST" >
    <legend>Formulario de creación de nuevo producto</legend>
    <div class="mb-3">
        <div class="form-option" >
            <label for="cliente"  class="form-label">Cliente</label>
            <select id="cliente" name="cliente" class="form-select">
                {% for user in users %}
                    <option value={{ user.id }}>{{ user.nombre}} {{user.apellidos}}</option>
                {% endfor %}
            </select>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check d-flex">
        <select id="producto1" name="producto1" class="form-select">
            {% for producto in productos %}
                <option value={{ producto.id }}>{{ producto.nombre}} (Stock: {{ producto.stock}})</option>
            {% endfor %}
        </select>
        <input class="form-control" name="cantidadproducto1" type="number" value="1"> 
      </div>
    </div>
    <div id="newRow"></div>
    <script type="text/javascript">
    $(document).ready(function() {
        var contador=2;
        // agregar registro
        $("#btn_add_producto").click(function () {
            var html = '';
            html += '<div class="mb-3" id="inputFormRow">';
            html += '<div class="form-check d-flex">';
            html += '<select id="producto'+contador+'" name="producto'+contador+'" class="form-select">';
            html += ' {% for producto in productos %}';
            html += '<option value={{ producto.id }}>{{ producto.nombre}} (Stock: {{ producto.stock}})</option>';
            html += '{% endfor %}';
            html += '</select>';
            html += '<input class="form-control" name="cantidadproducto'+contador+'" type="number" value="1">';
            html += '<button id="removeRow" type="button" class="btn btn-primary">Borrar</button>';
            html += '</div></div>';
        $('#newRow').append(html);
        contador++;
        });

        // borrar registro
        $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
        });
    });
    </script>
    <button type="button" class="btn btn-success" id="btn_add_producto">Añadir otro producto</button>
    <button type="submit" class="btn btn-primary" name="crear">Crear</button>
</form>
