{% extends 'admin/base.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <h1>Almacén de productos</h1>
    <div class="float-right d-flex">
        <a class="btn btn-outline-primary ml-auto" href="{{ path('app_admin_producto_new') }}">Añadir Producto</a>
    </div>
    <hr>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.imagen}}</td>
                <td class="d-flex">
                    <a class="btn btn-outline-info m-1" style="width:60px;" href="{{ path('app_admin_producto_show', {'id': producto.id}) }}">Ver</a>
                    <a class="btn btn-outline-success m-1" style="width:60px;" href="{{ path('app_admin_producto_edit', {'id': producto.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se han encontrado productos...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
