<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Administración{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        {# <link href="{{ asset('css/main.css') }}" rel="stylesheet" /> #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <style>
        
    </style>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_tienda')}}"><h3><strong class="text-primary">Grana</strong><strong>Web</strong></h3></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-lg-2 sidebar">
                    <div class=" collapse navbar-collapse" id="navbarText">
                        <div class="sidebar-sticky pt-3">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ path('app_admin')}}">
                                        <span data-feather="home"></span>
                                        Dashboard <span class=""></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_pedido_index') }}">
                                        <span data-feather="file"></span>
                                        Pedidos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            Almacén
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item" href="{{ path('app_admin_producto_index')}}">Productos</a></li>
                                            <li><a class="dropdown-item" href="{{ path('app_admin_categoria_index')}}">Categorias</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_admin_user_index')}}">
                                        <span data-feather="users"></span>
                                        Clientes
                                    </a>
                                </li>
                            </ul>
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Soporte</span>
                                <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                                    <span data-feather="plus-circle"></span>
                                </a>
                            </h6>
                            <ul class="nav flex-column mb-2">
                                <li class="nav-item">
                                <a class="nav-link" href="https://manual.granaweb.cloudns.nz:4443/">
                                <span data-feather="file-text"></span>
                                Manual del usuario
                                </a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="https://manual.granaweb.cloudns.nz:4443/usuarios/">
                                <span data-feather="file-text"></span>
                                Guía de Administración
                                </a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="https://manual.granaweb.cloudns.nz:4443/useraccount/">
                                <span data-feather="file-text"></span>
                                Guía de Usuario
                                </a>
                                </li>
                                {# <li class="nav-item">
                                <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                                </a>
                                </li> #}
                            </ul>
                        </div>
                    </div>
                </nav>
                <main role="main" class="col-lg-10">
                {% block body %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>