{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block body %}
{# {{ dump(ver)}} #}
  <section class="h-100 h-custom" style="background-color: grey;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-lg-7">
                  <h5 class="mb-3">
                    <a href="{{ path('app_tienda') }}" class="text-body">
                      <i class="fas fa-long-arrow-alt-left me-2"></i>Continuar comprando
                    </a>
                  </h5>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Shopping cart</p>
                      <p class="mb-0">Tienes 
                        {% for count in total_items %}
                          {{ count }}
                        {% else %}
                          {{ 0 }}
                        {% endfor %}
                        articulos en tu carrito
                      </p>
                    </div>
                    <div>
                      <p class="mb-0">
                        <span class="text-muted">Ordenar por:</span>
                        <a href="#!" class="text-body">precio <i class="fas fa-angle-down mt-1"></i></a>
                      </p>
                    </div>
                  </div>
                  {% for cart in carrito %}
                    {% for producto in cart.producto %}
                      {% set total = total + (producto.precio * cart.cantidad) %}
                        <div class="card mb-3">
                          <div class="card-body">
                            <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                <div>
                                  <img src="{{ asset('uploads/img/' ~ producto.imagen)}}" class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                </div>
                                <div class="ms-3">
                                  <h5>{{producto.nombre}}</h5>
                                    {# <p class="small mb-0">256GB, Navy Blue</p> #}
                                </div>
                              </div>
                              <div class="d-flex flex-row align-items-center">
                                
                                {% if producto.stock > 0 %}
                                  <div style="width: 100px; margin-right: 20px;">
                                    <form class="d-flex " method="POST">
                                      <input class="btn btn-success p-1" style="width: 30px;" type="submit" name="rest_carrito" value="-">
                                      <input type="hidden" value="{{cart.id}}" name="id_producto">
                                      <input class="fw-normal mb-0 text-center border-0" style="width: 30px;" name="cantidad" type="text" value="{{ cart.cantidad}}" readonly>
                                      <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
                                      <input class="btn btn-success p-1" style="width: 30px;" type="submit" name="sum_carrito" value="+">
                                    </form>
                                  </div>
                                {% else %}
                                    <p class="badge bg-primary rounded-pill " style="margin-right:40px !Important;">Producto agotado, por favor,</br> eliminelo del carrito para poder finalizar la compra</p>
                                {% endif %}
                                  
                                
                                <div style="width: 80px;">
                                  <h5 class="mb-0">{{ cart.total }} €</h5>
                                </div>
                                  <form method="post" action="{{ path('app_carrito_items_delete', {'id': cart.id}) }}" onsubmit="return confirm('Se eliminara {{ producto.nombre }} del carrito ¿Quiere continuar?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart.id) }}">
                                    <button class="btn btn-primary rounded-2"><i class="fas fa-trash-alt"></i></button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        
                    {% endfor %}
                  {% endfor %}
                </div>
                <div class="col-lg-5 mb-5">
                  <div class="card bg-dark text-white rounded-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">Detalles del Carrito</h5>
                        {# <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                        class="img-fluid rounded-3" style="width: 45px;" alt="Avatar"> #}
                      </div>
                      <p class="small mb-2">Tarjetas de credito</p>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-visa fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-amex fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
                      <hr class="my-4">
                      {# <div class="d-flex justify-content-between">
                      <p class="mb-2">Subtotal</p>
                      <p class="mb-2">$4798.00</p>
                      </div>
                      <div class="d-flex justify-content-between">
                      <p class="mb-2">Shipping</p>
                      <p class="mb-2">$20.00</p>
                      </div> #}
                      <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total(IVA Incl.)</p>
                        <p class="mb-2">{{ total }} €</p>
                      </div>
                    </div>
                  </div>
                  {% if ver is same as (true) %}
                     <div id="smart-button-container" style="margin-top: 20px !Important;">
                      <div style="text-align: center;">
                        <div id="paypal-button-container">
                        </div>
                    </div>
                  {% endif %}
                 
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id=AUeUAjL3wRlGXvgT3MhjNIuf85bgQ29QmLKs8iJawklVw7KWVXblbIg2sLf3PLkiNlZiUwpXbQbdWYPn&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
                <script>
                  function initPayPalButton() {
                    paypal.Buttons({
                    style: {
                    shape: 'pill',
                    color: 'gold',
                    layout: 'horizontal',
                    label: 'paypal',
                  },
                  createOrder: function(data, actions) {
                    return actions.order.create({
                    purchase_units: [{"amount":{"currency_code":"EUR","value":{{ total }}}}]
                    });
                  },
                  onApprove: function(data, actions) {
                  return actions.order.capture().then(function(orderData) {

                  // Full available details
                  console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                  window.location="verificador?paymentToken="+orderData.purchase_units[0].payments.captures[0].id+"&status="+orderData.purchase_units[0].payments.captures[0].status;
                  // Show a success message within this page, e.g.
                  const element = document.getElementById('paypal-button-container');
                  element.innerHTML = '';
                  element.innerHTML = '<h3>Thank you for your payment!</h3>';

                  // Or go to another URL:  actions.redirect('thank_you.html');

                  });
                  },

                  onError: function(err) {
                  console.log(err);
                  }
                  }).render('#paypal-button-container');
                  }
                  initPayPalButton();
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
