{% extends 'base.html.twig' %}

{% block title %}GranaWeb{% endblock %}

{% block body %}
    <main>
        {% if mensaje is defined %}
        <div class="container">
            <diV class="row">
                <div class="alert alert-success  alert-dismissible fade show col-12 rounder-5 mt-3" role="alert">
                    {{ mensaje}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {% endif %}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-outline-secondary my-2">Secondary action</a>
                </p>
            </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for producto in productos %}
                        <div class="col-xs-12 col-lg-4 col-md-12 col-sm-4 ">
                            <div class="card shadow-sm">
                                {# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> #}
                                <a class="bd-placeholder-img card-img-top"  href="{{ path('app_tienda_show', {'id': producto.id}) }}"><img width="100%" height="50%" src="{{ asset('uploads/img/' ~ producto.imagen) }}"></a>
                                <div class="card-body">
                                <p class="card-text">{{ producto.nombre }}</p>
                                    <div class="row justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('app_tienda_show', {'id': producto.id}) }}" class="btn btn-sm btn-outline-secondary col-6">Ver más</a>
                                            <form method="POST" class="col-6">
                                                <input type="hidden" name="producto" value="{{ producto.id }}">
                                                <button type="submit" name="btn_carrito" class="btn btn-sm btn-outline-secondary col-12">Añadir al carrito</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>
{% endblock %}
