{% extends 'base.html.twig' %}

{% block title %}Mis pedidos{% endblock %}

{% block body %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-12 col-md-11 col-lg-10 col-xl-9">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center text-white">
                    <h1>Mis pedidos </h1>
                    <hr>
                    <table class="table text-white">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Estado</th>
                                <th>Fecha</th>
                                <th>Productos Comprados</th>
                                <th>¿Qué de sea hacer?</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pedido in pedidos %}
                                    <tr>
                                        <td scope="row">{{ pedido.id}}</td>
                                        <td>{{ pedido.estado }}</td>
                                        <td>{{ pedido.fecha.format('d-m-Y h:m') }}</td>
                                        <td>
                                        <div class="mb-3">
                                          <select class="form-select"  name="" id="">
                                            {% for detalles in pedido.detallepedidos %}
                                                    {% for producto in detalles.producto %}
                                                        <option>{{ producto.nombre}}</option>
                                                            
                                                        
                                                    {% endfor %}
                                                {% endfor %}
                                          </select>
                                        </div>
                                            
                                        </td>
                                        <td><a class="btn btn-outline-info" href="{{ path('app_mis_pedido_show', {'id': pedido.id}) }}">Ver</a></td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>















{% endblock %}