{% extends 'admin/base.html.twig' %}

{% block title %}Modificar Pedido{% endblock %}

{% block body %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center ">
    <div class="col-12 col-md-11 col-lg-10 col-xl-9">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center text-white">
            
            <h1>Editar estado del Pedido | #{{ pedido.id}}</h1>
            <div class="container mt-lg-5 mb-lg-5">
                <div class="row">
                    <p class="form-control">
                        En esta pagina podrá cambiar el estado del pedido que ha seleccionado. Correspondiente al Cliente {{ pedido.usuario.nombre }} {{ pedido.usuario.apellidos }} y con identificador de pedido #{{ pedido.id }}
                    </p>
                </div>
            </div>
            <form method="POST">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>Estado actual:</th>
                            <th>Nuevo estado:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">{{ pedido.estado}}</td>
                            <td>
                                <select class="form-control" name="estado" id="estado">
                                    <option selected disabled value={{ pedido.estado}}>- Seleccione el nuevo estado -</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="Pagado">Pagado</option>
                                    <option value="Preparado">Preparado</option>
                                    <option value="Enviado">Enviado</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="hidden" name="pedido_id" value="{{ pedido.id}}"> 
                                <input  type="submit" class="btn btn-success form-control" value="Actualizar" name="btn_actualizar">
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </form>
            <a class="btn btn-outline-secondary" href="{{ path('app_pedido_index') }}">Volver</a>

            {{ include('pedido/_delete_form.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
