{% extends 'admin/base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Lista de Clientes</h1>
    <a class="btn btn-primary mb-3" href="{{ path('app_user_new') }}">Añadir Cliente Manual</a>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Dni</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellidos }}</td>
                <td>{{ user.dni }}</td>
                <td>{{ user.direccion }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No se han encontrado Clientes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
