{% extends 'admin/base.html.twig' %}

{% block title %}Todas las categorias{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Todas las categorias</h1>
            <div class="col-12">
                <a class="btn btn-outline-primary m-2" href="{{ path('app_admin_categoria_new') }}">Crear nueva</a>
            </div>  
            <table class="table col-12">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for categorium in categorias %}
                    <tr>
                        <td>{{ categorium.id }}</td>
                        <td>{{ categorium.nombre }}</td>
                        <td>{{ categorium.descripcion }}</td>
                        <td class="d-flex">
                            <a class="btn btn-outline-info m-1" style="width:80px" href="{{ path('app_admin_categoria_show', {'id': categorium.id}) }}">ver</a>
                            <a class="btn btn-outline-success m-1" style="width:80px" href="{{ path('app_admin_categoria_edit', {'id': categorium.id}) }}">editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No hay aun cotegorias</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    

    
{% endblock %}
