{% extends 'admin/base.html.twig' %}

{% block title %}Categoria{% endblock %}

{% block body %}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-12 col-md-11 col-lg-10 col-xl-9">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <div class="container">
                    <div class="row ">
                        <h1>Categoria</h1>

                        <table class="table text-white">
                            <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td colspan="3">{{ categorium.id }}</td>
                                </tr>
                                <tr>
                                    <th>Nombre</th>
                                    <td colspan="3">{{ categorium.nombre }}</td>
                                </tr>
                                <tr>
                                    <th>Descripcion</th>
                                    <td colspan="3">{{ categorium.descripcion }}</td>
                                </tr>
                                <tr>
                                    <td><a class="btn btn-outline-danger" href="{{ path('app_admin_categoria_index') }}">Volver</a></td>
                                    <td><a class="btn btn-outline-warning" href="{{ path('app_admin_categoria_edit', {'id': categorium.id}) }}">Editar</a></td>
                                    <td>{{ include('admin/categoria/_delete_form.html.twig') }}</td>
                                
                                </tr>

                            </tbody>
                        </table>

                        

                        

                        
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
